<div class="container">
  <div class="login">
    <div class="inputs">
      <h1>Seja bem vindo, novamente</h1>
      <form [formGroup]="loginForm" (submit)="loginUser()">
        <div class="config-input">
          <label for="email">E-mail</label>
          <input type="email" [(ngModel)]="userEmail" name="email" id="email" formControlName="email" required=""
            placeholder="Seu email">
            <div *ngIf="loginForm.get('email')?.errors?.['required'] &&  loginForm.get('email')?.touched"
            class="error-input">
            Campo Obrigatório!
          </div>
          <div *ngIf="emailInvalid" class="text-danger">E-mail Invalido. Por favor, insira um e-mail valido!</div>
        </div>

        <div class="config-input">
          <label for="password">Senha</label>
          <input type="password" [(ngModel)]="senha" name="password" id="password" formControlName="senha" required=""
            placeholder="Sua senha">
          <div *ngIf="loginForm.get('senha')?.errors?.['required'] &&  loginForm.get('senha')?.touched"
            class="error-input">
            Campo Obrigatório!
          </div>
        </div>

        <button type="submit" [ngClass]="{'disabled' : !loginForm.valid}" [disabled]="!loginForm.valid">Entrar</button>
        <div class="error-invalid" *ngIf="credenciasInvalidas">E-mail ou senha invalida!</div>
      </form>
    </div>
  </div>

  <div class="logo">
    <img src="../../../assets/logo.png" alt="">
  </div>
</div>
