.body{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-size: 36px;
    font-family: sans-serif;
  }

  button {
    padding: 13px 70px;
    background-color: rgb(41, 87, 164);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(41, 86, 164, 0.8);
    }
  }
}
