<div class="modal">
  <div class="titulo">
    <h1>ADICIONAR</h1>
  </div>

  <div class="inputs">
    <input type="text" name="descricao" id="descricao" placeholder="Descrição">
    <input type="number" name="valor" id="valor" placeholder="Valor">
    <select name="options" id="options">
      <option value="Entrada">Entrada</option>
      <option value="saida">Saida</option>
    </select>
  </div>

  <div class="buttons">
    <button>Cancelar</button>
    <button>Enviar</button>
  </div>
</div>
